@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('../fonts/ClashDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/ClashDisplay-Semibold.woff') format('woff'),
        url('../fonts/ClashDisplay-Semibold.ttf') format('truetype');
        font-weight: 700;
        font-display: swap;
        font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('../fonts/ClashDisplay-Bold.woff2') format('woff2'),
       url('../fonts/ClashDisplay-Bold.woff') format('woff'),
       url('../fonts/ClashDisplay-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'ClashDisplay-Bold';
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;

  background-color: #000000;
  background-image: url(/assets/background.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.main{
  width: 100%;
  max-width: 1275px;
  margin: 0 auto;
  padding: 0px;
}

a {
  text-decoration: none;
}

.gradient{
  background: linear-gradient(56deg, #06629b, #5febba 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* nav section */
.site-navigation,
.user-navigation{
  list-style: none;
}

.site-navigation a,
.user-navigation a{
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus{
  color: #c765ff;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  padding-right: 45px;
  padding-left: 80px;
  position: fixed;
  backdrop-filter: blur(3px);
}


.main-navigation{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  flex-grow: 1;
  letter-spacing: 2px;
}

.main-navigation ul{
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation li{
  margin-right: 20px;
}

.main-navigation li:last-child{
  margin-right: 0px;
}

.user-navigation{
  margin-right: 1385px;
  /* justify-content: space-between; */
}

/* 1 section */

.first-section{
  font-size: 43px;
  width: auto;
  height: 400px;
}

.grid_container{
  display: grid;
  line-height: 65px;
  row-gap: 30px;
}

.grid_container span:last-child{
  line-height: 65px;
}

.p_150{
  padding-top: 150px;
  padding-bottom: 200px;
}

.project_button{
  box-shadow:
  0px 10.3px 91.5px  rgba(158, 78, 250, 0.8);
  width: 200px;
  height: 50px;
  background: #7c3aed;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 25px;
  color: #fff;
  font: 1rem 'ClashDisplay-Semibold';
  cursor: pointer;
}

/* 2 section */

.grid_container_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid_container_2:last-child{
  justify-items: end;
  }

.about{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

/* 3 section */

.grid_container_3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  grid-gap: 10px;
}

.grit_item{
  padding-left: 15px;
  padding-right: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grit_item p{
  font-size: 19px;
  color: #d4d4d4;
}

.grit_item h3{
  color: #f5f5f5;
}

.border{
  border: 1px solid #404040;
  border-radius: 10px;
}

/* footer */

footer {
  width: 100%;
  max-width: 1275px;
  margin: 0 auto;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: #888888;
}